@@include('src/template/svc/include/landing/_landing_head.html')

<body>
	<div class="park-wrap">
	    <section class="main-contents">
            <div class="contents-top">
                <img src="http://img.seabay.co.kr/svc/img/landing/sebeaySwim_20200721/park/land_park01.jpg" alt="씨베이 콘텐츠">
            </div>
            <div class="contents-park-list">
                <a href="http://kko.to/3tY4i_fDp" target="_blank" title="페이지이동">
                    <img src="http://img.seabay.co.kr/svc/img/landing/sebeaySwim_20200721/park/btn_park01.jpg" alt="무료 교향리 주차장">
                </a>
                <a href="http://kko.to/zebfW_4DB" target="_blank" title="페이지이동">
                    <img src="http://img.seabay.co.kr/svc/img/landing/sebeaySwim_20200721/park/btn_park01.jpg" alt="무료 교향리 주차장">
                </a>
                <a href="http://kko.to/ZR_4iVfYH" target="_blank" title="페이지이동">
                    <img src="http://img.seabay.co.kr/svc/img/landing/sebeaySwim_20200721/park/btn_park01.jpg" alt="무료 교향리 주차장">
                </a>
                <a href="http://kko.to/hRDti_fY0" target="_blank" title="페이지이동">
                    <img src="http://img.seabay.co.kr/svc/img/landing/sebeaySwim_20200721/park/btn_park01.jpg" alt="무료 교향리 주차장">
                </a>
            </div>
            <div class="contents-logo">
                <img src="http://img.seabay.co.kr/svc/img/landing/sebeaySwim_20200721/park/land_park02.jpg" alt="씨베이 콘텐츠">
            </div>
        </section>
        <!--버튼-->
        <ul class="btn-box-ul">
            <li>
                <a href="http://seabay.co.kr/" target="_blank" class="btn-home" title="페이지 이동">
                    <img src="http://img.seabay.co.kr/svc/img/landing/sebeaySwim_20200721/btn_home.jpg" alt="씨베이호텔 홈페이지">
                </a>
            </li>
            <li>
                <a href="http://seabay.co.kr/landing/park.php" title="페이지 이동">
                    <img src="http://img.seabay.co.kr/svc/img/landing/sebeaySwim_20200721//btn_parking.jpg" alt="주차장 이용안내">
                </a>
            </li>
            <li>
                <a href="http://seabay.co.kr/landing/swim.php" title="페이지 이동">
                    <img src="http://img.seabay.co.kr/svc/img/landing/sebeaySwim_20200721/btn_swimming.jpg" alt="수영장 이용안내">
                </a>
            </li>
        </ul>
        <!--//버튼-->
	</div>
</body>

</html>
