<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<title> 국내외여행, 호텔, 편션, 리조트, 콘도 최저가할인예약 GO.CO.KR </title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no, address=no, email=no">
    
	<!-- 폰트어썸 CDN -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://static.go.co.kr/css/reset_custom.css">
	 <link rel="stylesheet" type="text/css" href="https://static.go.co.kr/css/mobile_landing.css"> 
    <!-- <link rel="stylesheet" type="text/css" href="../../../static/css/mobile_layout_event-v1.1.css"> -->
    
	<!-- jquery라이브러리 -->
	<style src="http://code.jquery.com/jquery-1.11.2.min.js"></style>

</head>

<body>
	<h1 class="hidden">강릉씨베이호텔 수영장 안내</h1>

    <div class="wrapper seabayFacil-wrapper sub sw-2" id="wrap">
        <a href="http://seabay.co.kr/" target="_blank" class="btn-home" title="페이지 이동">
            <img src="http://img.go.co.kr/mobile/landing/seabayFacil_20190705/bt_btn_home.jpg" alt="씨베이호텔 홈페이지">
        </a>
        <div class="seabayFacil-body">
            <!-- 이미지 영역 -->
            <img src="http://img.go.co.kr/mobile/landing/seabayFacil_20190724/sw/img_01.jpg" alt="패밀리풀/인피니티풀">

            <!-- 랜딩 별도 내용 영역 -->
            <div class="info-use">
                <div class="info-container">
                    <div class="info-title">수영장 이용안내</div>
                    <div class="info-subtitle">
                        아래의 안내에 따라 프론트에서 요금 결제후 이용하실 수 있습니다.
                    </div>

                    <hr class="line">
                    
                    <table class="info-tbl">
                        <thead>
                            <tr>
                                <th>주간이용권 (패밀리 풀 + 인피니티 풀)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="big">
                                        <em>대인</em> <em class="c-1">22,000원</em>
                                        <span class="c-2">/</span>
                                        <em>소인</em> <em class="c-1">16,500원</em>
                                    </div>
                                    ※ 소인기준 : 13세 미만
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <table class="info-tbl">
                        <thead>
                            <tr>
                                <th>야간이용권 (인피니티 풀)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="big">
                                        <em>성인</em> <em class="c-1">22,000원</em>
                                    </div>
                                    ※ 만 19세 이상 성인만 이용가능
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <ul class="info-notice">
                        <li class="dot-2">위치안내</li>
                        <li>패밀리 풀 (5층) / 인피니티 풀 (15층)</li>
                        <li class="dot-2">주간이용권</li>
                        <li>
                            패밀리 풀과 인피니티 풀 모두 이용 가능
                        </li>
                        <li>
                            패밀리 풀 운영시간 - 09시~19시 (정비휴식 12시~13시)
                        </li>
                        <li>
                            인피니티 풀 운영시간 - 13시~19시 <span class="c-3">(만19세 이상 이용가능)</span>
                        </li>
                        <li class="dot-2">야간이용권</li>
                        <li>
                            인피니티 풀만 이용가능 (샤워실 보유)
                        </li>
                        <li>
                            인피니티 풀 운영시간 - 20시~22시 <span class="c-3">(만19세 이상 이용가능)</span>
                        </li>
                        <li>
                            <span class="c-3">특전) 인피니티 풀 야간 이용시 맥주 OR 콜라 1캔 무료 제공</span>
                        </li>
                        <li class="dot-2">준비물품</li>
                        <li>
                            수영모 (야구모자 가능), 수영복 (편한 복장 가능), 개인수건
                        </li>
                        <li class="dot-2">기타안내</li>
                        <li>
                            최대 수용인원 초과 시 안전을 위해 입장이 제한될 수 있음
                        </li>
                        <li>
                            12시~13시까지는 정비시간으로 입장이 제한될 수 있음
                        </li>
                        <li>
                            풀장에는 락커룸이 없으므로 미리 환복 후 입장 필요
                        </li>
                        <li>
                            <span class="c-">인피니티 풀은 주/야간 만19세 이상 성인만 이용가능</span>
                        </li>
                        <li>
                            키 1미터이하 소인 구명조끼 착용 필수(무상대여)
                        </li>
                        <li>
                            수영장 내 외부음식 반입불가
                        </li>
                        <li>
                            수영장은 현장상황에 따라 운영시간이 변경될 수 있음
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cf bottom-area">
            <div class="inner">
                <a href="http://seabay.co.kr/landing/park.php" title="페이지 이동">
                    <img src="http://img.go.co.kr/mobile/landing/seabayFacil_20190705/bt_btn_03.jpg" alt="주차장 이용안내">
                </a>
                <a href="http://seabay.co.kr/landing/swim.php" title="페이지 이동">
                    <img src="http://img.go.co.kr/mobile/landing/seabayFacil_20190705/bt_btn_02_on.jpg" alt="수영장 이용안내">
                </a>
            </div>
        </div>
    </div>

</body>

</html>
