<section class="sec notice-faq-sec">
    <div class="faq-wrapper wrapper-type1">
        <div class="faq-content group">
            <h1 class="title-type1 title">
                자주 묻는 질문
            </h1>
            <div class="faq-list-wrapper">
                <ul class="faq-list" id="faqList">
                    @@loop('src/template/svc/notice/_temp/_list_question.html','./svc/notice/_info_json/_info_question.json')         
                </ul>
            </div>
        </div>
    </div>
</section>