<div class="send-box">
    <div class="group">
        <p class="send-notice">
            <span>※ 본 화면은 모바일과 컴퓨터로도 접속 가능 합니다.</span>
            <span>(주소 : www.seabay.co.kr/notice)</span>
        </p>
        <form class="send-form">
            <div class="form-txt">■ 주소를 나에게 전송</div>
            <div class="input-box">
                <label for="in-email">이메일</label>
                <input type="text" id="in-email">
                <button class="btn-send" type="button">보내기</button>
            </div>
        </form>
    </div>
</div>