<!-- <section class="sec notice-file-sec">
    <div class="file-wrapper wrapper-type1">
        <div class="file-content group">
            <h1 class="title-type1 title">
                해지 통보문 다운로드
            </h1>
            <ul class="file-list">
                <li class="file-item">
                    <a href="http://seacruisehotel.co.kr/static/files/final_termntaion.doc" download="최종통보문.doc" class="download-btn">최종통보문</a>
                </li>
                <li class="file-item">
                    <a href="http://seacruisehotel.co.kr/static/files/contract.docx" download="계약서.doc" class="download-btn">계약서</a>
                </li>
            </ul>
        </div>
    </div>
</section> -->