@@include('src/template/svc/include/_head.html')

<!-- <link rel="stylesheet" type="text/css" href="http://static.seabay.co.kr/svc/css/event/init.css"> -->
<link rel="stylesheet" type="text/css" href="/static/svc/css/event/init.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
<link href="http://static.seabay.co.kr/svc/css/jquery.bxslider.css" rel="stylesheet" />
<!-- <link href="/static/svc/css/jquery.bxslider.css" rel="stylesheet" /> -->


</head>

<body class="">

    @@include('src/template/svc/include/_header.html')

    <div class="contents event-contents">
        <div class="sub">
            <div class="sub_top_menu">
                <h4 class="page_title">이벤트/축제</h4>
                <h6 class="page_sub_title">솔향, 바다향, 커피향 가득한 강릉 주변 관광명소는 물론<br class="hidden-mdlg"> 지역 이벤트, 축제에서 즐거운 시간을 함께하세요.</h6>
            </div>
        </div>

        <div class="sub evt_box container">
            <div class="sub_item_box">
                <div class="sub_item_wrap">
                    <div class="event-room">
                        <div class="event-room-area">
                            <div class="event-main"><img src="http://img.seabay.co.kr/svc/img/event_pop/ev_room/event_room_detail.jpg" alt="이벤트"></div>
                            
                            <a href="http://seabay.co.kr/reserve/?package=so" class="btn-go-reserve" target="_blank">
                                <img src="http://img.seabay.co.kr/svc/img/event_pop/ev_room/btn_go_reserve.png" alt="버튼">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include('src/template/svc/include/_footer.html')
</body>

</html>