
.etc-data-ul{
    &>li{
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-self: start;
        margin-bottom: 8px;
        p{
            word-break: keep-all;
            &:nth-of-type(1){
                padding-right: 6px;
            }
            &:nth-of-type(2){
                width: 90%;
            }
        }
    }
}


.etc-data-table{
    width: 76%;
    text-align: center;
    th,td{
        border: 1px solid #ccc;
        vertical-align: middle;
        // padding:1px 0;        
    }
    th{
        background-color: #eee;
    }
    td{
        background-color: white;
        border: 1px solid #ccc;
    }
    .last-sum{
        td{
            background-color: #ddd;
        }
    }
}

.send-box{
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    .send-form{
        background-color: #f3f3f3;
        padding: 24px 0;
        display: flex;
        justify-content: space-between;
        justify-items: center;
        font-size: 16px;
        .input-box{
            display: flex;
            justify-items: center;
        }
    }
}
